/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

#dmermaid-container {
  visibility: hidden;
}

#mermaid-container {
  width: 100%;
  height: 100%;
}
